<td>コメント数：<%= book.book_comments.count %></td>
<% if book.user == current_user %>
<td><%= link_to"Edit",edit_book_path(book.id),class:'btn btn-success'%></td>
<td><%= link_to"Destroy",book_path(book), method: :delete, data: { confirm: '本当に消しますか？' }, class:'btn btn-danger'%></td>
<% end %>