<% if @model == 'user' %>
  <h3>Users search for "<%= @content %>"</h3>
  <%= render 'search_users_index', users: @records %>
<% else @model == 'books' %>
  <h3>Bookers search for "<%= @content %>"</h3>
    <%= render 'search_books_index', books: @records %>
<% end %>